.input-group {
  margin: 15px 0px;
}
.first-name {
  width: 45%;
  margin-right: 10%;
}

.last-name {
  width: 45%;
}

.form-names {
  display: flex;
  justify-content: flex-start;
}

.links {
  text-align: center;
  margin-top: 15px;
}


