.modal-content {
  background-color: white;
  padding: 10px 20px;
  margin-top: 50px;
  border-radius: 3px;

  h2 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
  }

  .btn {
    width: 100%;
    margin-bottom: 20px;
  }
}

.form-title {
  text-align: center;

}

.btn {
  width: 100%
}

.form-signup {
  background-color: white;
  padding: 10px 20px;
  border-radius: 3px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.form-login {
  background-color: white;
  padding: 10px 20px;
  border-radius: 3px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.container.landing-page {
  width: 100%;
}

.new_plan {
  background: #f7f7f7;
  padding: 30px 60px;
  border-radius: 5px;

}

.form-plan-title {
  margin-top: 20px;
  text-align:center;
  font-size: 35px;
  font-weight: bold;
  color: white;
}

.weekly-info {
  overflow: hidden;
  width: 300px;
  background-color: white;
  border-radius: 3px;
  box-shadow: 0px 3px 5px rgba(0,0,0,0.3);
  margin: 30px auto;
}

.header, .bottom {
  background: $light-green;
  color: white;
  padding: 10px;
  text-align: center;
  p {
    font-size: 14px;
    margin: 0;
  }
}

.middle {
  text-align: center;
  .number {
    font-size: 45px;
  }
  .pound {
    font-size: 20px;
    opacity: .7;
  }
}

.range-key-num {
  margin: 10px auto 20px auto;
  text-align: center;
  .range-value {
    font-size: 35px;
    font-weight: bold;
    color: $green;
  }
  .range-unit {
    font-size:20px;
    font-weight: lighter;
  }
}

.form-question{
  font-size: 24;
  font-weight: bold;
}

.bank-account-choices{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

// .bank-account-choice{
//   flex: 0 0 45%;
//   background-color: #c7d1e0;
//   padding: 10px;
//   border-radius: $border-radius-base;
//   opacity: 0.5;
//   text-align: center;

//   &:hover {
//     opacity: 1;
//     cursor: pointer;
//   }

//   &.active {
//   background: $brand-success;
//   color: white;
//   opacity: 1;
//   }
// }
.bank-account-choices {
  display: flex;

}

$start-color: #bdc3c7;
$end-color: #c0392b;
$horizontal-offset: 0.5;

.margin-top {
  margin-top:30px;
}

.card {
  font-family: monospace;
  border-radius: 5px;
  background-image: linear-gradient(-225deg, transparent 50% * (1 + $horizontal-offset), $end-color 50% * (1 + $horizontal-offset)), linear-gradient(225deg, $end-color 50% * (1 - $horizontal-offset), $start-color 50% * (1 - $horizontal-offset));
  // border: 1px solid black;
  flex: 0 0 45%;
  height: 160px;
  color: black;
  position: relative;
  opacity: .3;
  box-shadow: 3px 3px 5px rgba(0,0,0,0.3);
  // margin: 20px;
  font-size: 14px;
  transition: .5s;
}

.card:hover {
  opacity: 0.5;
  transform: scale(1.02);
  // border: 5px solid $light-green;
}

.card.active {
  opacity: 1;
  // border: 5px solid $light-green;
}

.bank-logo {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 75px;
}

.account-owner-name {
  position: absolute;
  left: 10px;
  bottom: 1px;

}

.credit-card-number {
  position: absolute;
  top: 60%;
  left: 10px;
  // font-size: 16px;
}

.account-name {
  position: absolute;
  top: 40%;
  left: 10px;
  // font-size: 16px;
}

#plan_name {
  width: 100%;
  background: transparent;
  border: none;
  box-shadow: none;
  border-bottom: 2px solid;
}

#plan_name:focus {
  outline: none;
}

.message {
  color: red;
}

.btn-success.z {
  background-color: white;
  color: $green;
}

.btn-success.z:hover{
  background-color: transparent;
  color: white;
  border: 1px solid white;

}

.links a {
  color: white;
}













