.card-index {
  margin-top: 40px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
  background-color: #f7f7f7;
  padding: 15px;
  position: relative;
  transition: .8s;
  h1 {
    color: #295F4E;
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  p {
    font-size: 16px;
    opacity: .7;
  }
  img {
    width: 100px;
  }
}

.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
}

.card-index:hover {
  transform: scale(1.1);
}

.card-logo {
  position: absolute;
  top: 20px;
  right: 10px;
}

.card-top {
  position: absolute;
  top: 10px;
  left: 10px;
}

.card-bottom {
  position: absolute;
  bottom: 0px;
  left: 0px;
  background-color: $light-green;
  width: 100%;
  text-align: center;
  color: white;
  font-weight: light;
  font-size: 18px;
  padding-top: 10px;
  p {
    opacity: 1;
  }
}

.card-middle {
  font-size: 60px;
  font-weight: bold;
}

.card-index-title {
  position: relative;
  bottom: 10px;
}

.card-middle.danger {
  color: $red;
}


.card-middle.success {
  color: #20bf6b;
}

.card-middle.warning {
  color: $orange;
}

.card-bottom.danger {
  background-color: $red;
}

.card-index-years {
  position: absolute;
  bottom: 20px;
  left: 50px;
}

.card-bottom.success {
  background-color: #20bf6b;
}

.card-bottom.warning {
  background-color: $orange;
}

