.green-status {
  color: green;
  p {
    font-size: 35px;
  }
}

.red-status {
  color: red;
  p {
    font-size: 35px;
  }
}

.savings-stats-child {
  padding-top: 10px;
}

.savings-stats-child.c {
  padding-top: 2px;
}


