<% @plans.each do |plan| %>
  <%= link_to plan_path(plan) do %>
    <div class="col-xs-12 col-sm-6 col-md-4 ">
      <div class="card">
        <h1>plan name</h1>
        <p>Year: <%= plan.target_year %></p>
        <p>Amount: £<%= plan.target_amount %></p>
      </div>
    </div>
  <% end %>
<% end %>
