<% if target.errors.any? %>
  <div id="errorExplanation">
    <ul>
    <% target.errors.full_messages.each do |msg| %>
      <li class="message"><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
