<div id="breaking-news-container">
  <div id="breaking-news-colour">
    <marquee behavior="scroll" direction="left" class="text"
        onmouseover="this.stop();"
        onmouseout="this.start();">

            <span class="good-news"><i class="fa fa-caret-up" aria-hidden="true"></i>
            Your savings are growing!      </span>
            <span class="bad-news"> <i class="fa fa-caret-down" aria-hidden="true"></i>
            That holiday cost ALOT....      </span>
            <span class="good-news"><i class="fa fa-caret-up" aria-hidden="true"></i>
            A six pack of Peroni is now 5% cheaper      </span>
            <span class="bad-news"> <i class="fa fa-caret-down" aria-hidden="true"></i>
            With great power comes great electricity bills      </span>
            <span class="good-news"><i class="fa fa-caret-up" aria-hidden="true"></i>
            When I was younger I felt like a man trapped inside a woman’s body. Then I was born.     </span>
            <span class="bad-news"> <i class="fa fa-caret-down" aria-hidden="true"></i>
            Marriage is a workshop, where husband works and wife shops...      </span>
            <span class="good-news"><i class="fa fa-caret-up" aria-hidden="true"></i>
             I'll be back in five minutes....if I'm not just read this message again.     </span>
    </marquee>
  </div>
</div>





