<div id="breaking-news-container">
  <div id="breaking-news-colour" class="slideup animated"></div>
    <p class="breaking-news-headline delay-animated2 fadein marquee">
      <% 8.times do %>
        <span class="good-news"><i class="fa fa-caret-up" aria-hidden="true"></i>
        Good news </span>  <span class="bad-news"> <i class="fa fa-caret-down" aria-hidden="true"></i> Bad news </span>
      <% end %>
    </p>
</div>
