<div id="breaking-news-container">
  <div id="breaking-news-colour" class="slideup animated"></div>
     <p class="breaking-news-headline delay-animated2 fadein marquee">
        +++ Nest-EggyNest-EggyNest-EggyNest-EggyNest-EggyNest-EggyNest-EggyNest-EggyNest-EggyNest-EggyNest-EggyNest-EggyNest-EggyNest-EggyNest-EggyNest-EggyNest-EggyNest-EggyNest-EggyNest-Eggy +++
    </p>
</div>
