<% good_news = ["Your savings are growing!", "My Dad told me to invest my money in bonds. So I bought 100 copies of Goldfinger", "When I was younger I felt like a man trapped inside a woman’s body. Then I was born.", "One in four frogs is a leap frog", "You can’t lose a homing pigeon. If your homing pigeon doesn’t come back, then what you’ve lost is a pigeon", "I heard a rumour that Cadbury is bringing out an oriental chocolate bar. Could be a Chinese Wispa", "“I went to the bookshop and asked the woman for a book about turtles, she said ‘hardback?’ and I was like, ‘yeah and little heads"] %>
<% bad_news = ["With great power comes great electricity bills", "Life is like a box of chocolates. It doesn’t last long if you’re fat", "My wife told me: ‘Sex is better on holiday.’ That wasn’t a nice postcard to receive", "My cat is recovering from a massive stroke" ] %>

<div id="breaking-news-container">
  <div id="breaking-news-colour">
    <marquee behavior="scroll" direction="left" class="text"
        onmouseover="this.stop();"
        onmouseout="this.start();">
      <% 100.times do %>
            <span class="good-news"><i class="fa fa-caret-up" aria-hidden="true"></i>
             <%= good_news.sample %>    </span>
            <span class="bad-news"> <i class="fa fa-caret-down" aria-hidden="true"></i>
              <%= bad_news.sample %>   </span>
      <% end %>
    </marquee>
  </div>
</div>





