<div id="breaking-news-container">
  <div id="breaking-news-colour">
    <marquee behavior="scroll" direction="left" class="text"
        onmouseover="this.stop();"
        onmouseout="this.start();">
          <% 8.times do %>
            <span class="good-news"><i class="fa fa-caret-up" aria-hidden="true"></i>
            Good news </span>  <span class="bad-news"> <i class="fa fa-caret-down" aria-hidden="true"></i> Bad news </span>
          <% end %>
    </marquee>
  </div>
</div>






