<button id="myBtn">Panic Button</button>

<div id="myModal" class="modal a" >
  <div class="modal-spending" style="background-image: url(<%= image_path('coins.jpg') %>);">
    <h3>Don't do it! - remember your goals...</h3>
    <br>
    <p><i>"Don't save what is left after spending, spend what is left after saving"</i></p>
    <p><strong>- Warren Buffet</strong></p>
    <p><i>"Beware of little expenses, a small leak will sink a great ship"</i></p>
    <p><strong>- Benjamin Franklin</strong></p>
    <p><i>"He who buys what he does not need, steals from himself"</i></p>
    <p><strong>- Swedish Proverb</strong></p>
    <p><i>"Save money, and money will save you"</i></p>
    <p><strong>- Jamaican Proverb</strong></p>
  </div>
</div>
