<div class="container b">
  <ul class="nav nav-tabs nav-justified">
    <li><a href="#">Savings</a></li>
    <li><a href="#">Spendings</a></li>
    <li><a href="#">Transaction History</a></li>
  </ul>
</div>
