<div class="container">
  <h3 class="title">Spending Analysis</h3>

  <div class="breakdown-chart">
    <%= pie_chart @hash, download: "MySpendingsBreakdown", messages: {empty: "No data"}, colors: ["#1E4235", "#045E3D", "#427D67", "#06A167", "#0EE393", "#80F2C8", "#CFCFCF", "#8C8C8C", "#454545", "#050505" ], legend: "right", prefix: "€" %>
  </div>
</div>







