<div class="container" style="position: relative;">

  <canvas id="chart" style="margin-top:30px;"></canvas>
  <script>
    var data = {
        labels: <%= raw @country_spendings.keys.sort %>,
        datasets: [
            {
                label: "Your Spending",
                backgroundColor: "#465B51",
                data: <%= raw @country_spendings.keys.sort.map { |key| @my_spendings[key] || 0 } %>
            },
            {
                label: "Average Spending/Household",
                backgroundColor: "#DE6860",
                data: <%= raw @country_spendings.keys.sort.map { |key| @country_spendings[key] } %>
            },
        ]
    };

  setTimeout(function() {
    var ctx = document.getElementById("chart");
    var chart = new Chart(ctx, {
        type: 'bar',
        data: data,
        options: {
            legend: {
                display: true,
                position: "bottom",

                labels: {
                  fontColor: "black",
                  fontSize: 16,
                  boxWidth: 30,
                  fullWidth: true,
                }
            },
            tooltips: {
                backgroundColor: "white",
                titleFontColor: "black",
                bodyFontColor: "black",
                cornerRadius: 1,
                borderColor: "black",
                borderWidth: 2,
                bodyFontSize: 18,
                footerFontColor: "#295F4E",
                footerFontSize: 15,
                bodySpacing: 10,


                callbacks: {
                    title: function(tooltipItem, chart) {
                        return 'Your spending (in €):'
                    },
                }
            }
        }
    });
  }, 1000)
  </script>

</div>






