<% @hash.keys.each do |key| %>
  <div class="hash-key" data-hash-key="<%= key %>"></div>
<% end %>

<% Category.where.not(average: nil).each do |cat| %>
  <div class="hash-average" data-average="<%= cat.average %>" data-name="<%= cat.name %>"></div>
<% end %>

<div class="container" style="position: relative; height:40vh; width:80vw;">

  <canvas id="chart" style="margin-top:30px;"></canvas>
  <script>
    var keyElements = document.querySelectorAll(".hash-key")
    var hashKeys = []
    keyElements.forEach((element) => {
      hashKeys.push(element.dataset.hashKey)
    })
    var categories = {}
    var categoriesDivs = document.querySelectorAll(".hash-average")

    categoriesDivs.forEach((element) => {
      categories[element.dataset.name] = element.dataset.average
    })

    var data = {
        labels: hashKeys,
        datasets: [
            {
                label: "Your Spending",
                backgroundColor: "#1E4235",
                data: <%= @hash.values %>
            },
            {
                label: "Average Spending/Household",
                backgroundColor: "red",
                data: [10, 11.50,31.9, 58, 2, 105.7, 50, 10]
            },
        ]
    };

  setTimeout(function() {
    var ctx = document.getElementById("chart");
    var chart = new Chart(ctx, {
        type: 'bar',
        data: data,
            labels: hashKeys,
        options: {
            legend: {
                display: true,
                position: "bottom",

                labels: {
                  fontColor: "black",
                  fontSize: 16,
                  boxWidth: 30,
                  fullWidth: true,
                }
            },
            tooltips: {
                backgroundColor: "white",
                titleFontColor: "black",
                bodyFontColor: "red",
                cornerRadius: 1,
                borderColor: "red",
                borderWidth: 2,
                bodyFontSize: 18,
                footerFontColor: "#295F4E",
                footerFontSize: 15,
                bodySpacing: 10,


                callbacks: {
                    title: function(tooltipItem, chart) {
                        return 'Your spending (in €):'
                    },
                }
            }
        }
    });
  }, 1000)
  </script>

</div>






