<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= image_path('sunset.jpg') %>);">
  <div class="banner-content">
    <div class="banner-content-title">
      <%= image_tag "Logo_Frame.svg", height: 100 %><h1>Nest-Eggy</h1>
    </div>
    <p>We help you save your money and realise your dreams</p>
    <%= link_to 'Grow me a Nest Egg', new_user_session_path, class: "btn btn-danger" %>
  </div>
</div>


<div class="container a product-description">

  <div class="sub-header-landing">
    <h3>Nest-Eggy helps you save money for all your projects!</h3>
  </div>

  <div class="row text-image-pair">
    <div class="col-xs-12 col-md-6 front-page-picto"><i class="fa fa-line-chart" aria-hidden="true"></i></div>
    <div class="col-xs-12 col-md-6 home-page-text">
      <p>We aggregate all your accounts in one place.</p>
    </div>
  </div>


  <div class="row text-image-pair">
    <div class="col-xs-12 col-md-6 home-page-text">
      <p>You can set yourself savings tagets and we keep track of them for you.</p>
    </div>
    <div class="col-xs-12 col-md-6 front-page-picto"><i class="fa fa-pie-chart" aria-hidden="true"></i></div>
  </div>

  <div class="row text-image-pair home-page-text">
    <div class="col-xs-12 col-md-6 front-page-picto"><i class="fa fa-table" aria-hidden="true"></i></div>
    <div class="col-xs-12 col-md-6">
      <p>We track your monthly spending and give you investment advice.</p>
    </div>
  </div>

</div>




