<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= image_path('sunset.jpg') %>);">
  <div class="banner-content">
    <div class="banner-content-title">
      <%= image_tag "Logo Frame.svg", height: 100 %><h1>Nest-Eggy</h1>
    </div>
    <p>We help you save your money and realise your dreams</p>
    <%= link_to 'Grow me a Nest Egg', '#loginModal', "data-toggle"  => "modal", class: "btn btn-danger" %>
  </div>
</div>

<div class="container product-description">
  <div class="row text-image-pair">
    <div class="col-xs-12 col-md-6 front-page-picto"><i class="fa fa-line-chart" aria-hidden="true"></i></div>
    <div class="col-xs-12 col-md-6 home-page-text">Nest-Eggy is a one stop shop for aggregating all of your bank account information in one place .We then give you invaluable advice to help you grow your net worth.</div>
  </div>


  <div class="row text-image-pair">
    <div class="col-xs-12 col-md-6 home-page-text">We track your weekly spending accross all accounts and give you valuable feedback on specific areas you can target to reduce your expenses.</div>
    <div class="col-xs-12 col-md-6 front-page-picto"><i class="fa fa-pie-chart" aria-hidden="true"></i></div>
  </div>

  <div class="row text-image-pair home-page-text">
    <div class="col-xs-12 col-md-6 front-page-picto"><i class="fa fa-table" aria-hidden="true"></i></div>
    <div class="col-xs-12 col-md-6">You can also find the details of every payments you've made and recieved in the transaction history tab.</div>
  </div>
</div>




