<div class="container">
  <div class="savings-chart">
    <%= area_chart [
      { name: "Net Worth", data: @chart_data },
      { name: "Plan", data: @plan_data },
    ], legend: "bottom", spanGaps: true, lineTension: 0.001 %>
  </div>
  <div class="savings-stats">
    <div class="savings-stats-child">
      <h1>How much have I been saving?</h1>
      <p>Figure</p>
    </div>
    <div class="savings-stats-child">
      <h1>Title</h1>
      <p>Figure</p>
    </div>
  </div>
</div>
