<div class="container">
  <h1>Transaction History</h1>

  <%= link_to "Refresh Data", "#", class: "btn btn-success" %>

  <p><%= @user.email %></p>
  <p><%= @user.encrypted_password %></p>
  <p><%#= @response_accounts %></p>
  <p><%#= @response_transactions["resources"].first %></p>
</div>
