<div class="container">
  <h1>Link a bank account</h1>
  <p><%= @user.email %></p>
  <p><%= @user.encrypted_password %></p>
  <p><%= @response %></p>
  <p><%#= @response["title"] %></p>
  <p><%#= @response.body.class %></p>
  <p><%#= @response["resources"] %></p>

</div>
