.card {
  background-color: rgb(220,220,220);
  border-radius: 20px;
  padding: 10px;
  margin: 20px 10px 0px 10px;
  border: 2px solid #295F4E;
  box-shadow: 1px 1px #295F4E;
  h1 {
    margin: 10px 0px 20px 0px;
    color: #405C50;
    font-size: 24px;
    font-weight: bold;
  }
  a {
    text-decoration: none;
  }
  p {
    color: #405C50;
  }
}

.card:hover {
    background-color: rgb(180,180,180);

}
