#myBtn {
  border: none;
  color: white;
  background-color: #DE6860;
  height: 90px;
  width: 90px;
  border-radius: 50%;
  position: fixed;
  top: 100px;
  right: 10px;
}

#myBtn:hover {
   background-color: rgba(234, 37, 37, 0.6);
}
.modal.a {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 999; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.6); /* Black w/ opacity */

}

.modal-spending {
    height: 80%;
    margin: auto;
    padding: 30px 20px 20px 60px;
    border: 1px solid #888;
    width: 60%;
    background-size: 100% 100%;
    border-radius: 20px;
}
