.header-div{
  background-color: $dark-gray;
  color: white;
  padding: 5px 0;
  margin: 2px 0;
  height: 70px;
  border-radius: $border-radius-large;
  display: flex;
  align-items: center;
  p {
    margin: 0;
  }
}

.table-filter-selector{
  border: none;
  width: 100%;
  background: transparent;
  &:focus{
    outline: none;
  }
}

.row-class-selector{
  background-color: $light-gray;
  padding: 5px 0;
  margin: 2px 0;
  // border-radius: $border-radius-base;
  border-radius: $border-radius-large;
  height: 70px;
  transition: all 0.4s ease 0s;
  display: flex;
  align-items: center;
}

.row-class-selector.credit:hover{
  background-color: $light-green;
  opacity: 0.8;
  .cell{
    color: black;
  }
}

.row-class-selector.debit:hover{
  background-color: $red;
  opacity: 0.8;
  .cell{
    color: black;
  }
}

.cell{
  text-align: center;
  // padding: 0;
}

.cell.credit{
  color: $light-green;
}
.cell.debit{
  color: $red;
}

